body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 60px;
    align-items: center;
}

.logo-container,
.nav-links,
.quick-search {
    display: flex;
}

#quick-search-container{
    margin-right: 20px;
}

#quick-search-input {
    width: 200px;
    height: 35px;
    font-size: .85em;
    font-weight: 700;
    color: #424242;
    border: 2px solid rgb(43, 42, 42);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    padding: 10px 30px;
    background: #ffffff url("/images/icon-search.svg") no-repeat 9px 8px;
}

.logo-container {
    flex: 2;
}

form {
    flex: 0.1;
}

.popular-text,
.recent-text {
    width: 90%;
    margin: auto;
}

.text-row {
    display: flex;
    align-items: center;
}

.text-row h2 {
    flex: 1;
}

.row {
    display: flex;
    width: 80%;
    margin: auto;
}

.movie {
    width: 250px;
}

.movie-row{
    display: inline-flex;
    width: 90%;
    margin: auto;
}
.movie-main {
    width: 350px;
}

.movie-box {
    text-decoration: none;
    text-align: left;
}

.movie-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div.movie-text {
    flex: 0.8;

}

.recent-text {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(180, 156, 156);
}

.line {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(180, 156, 156);
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.actors div {
    margin-top: 3px;
    margin-bottom: 3px;
}

.avatar-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.list-cast {
    display: flex;
    align-items: center;
}


fieldset,
label {
    margin: 0;
    padding: 0;
}

.movie-main {
    margin-top: 20px;
}

.movie-text h1 {
    font-weight: 900;
}

.movie-text h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.movie-text h5 {
    font-weight: 400;
    margin-top: 5px;
}

.info {
    margin-bottom: 20px;
    margin-top: 20px;
}

.crew {
    margin-top: 20px;
    margin-left: 70px;
}

.tableCell a {
    text-decoration: none;
    color: black;
}

.trailer {
    flex: 1;
}

.reviews {
    flex: 1;
}


/* Start Navbar */
.topnav {
    justify-content: space-around;
    background-color: #333;
    overflow: hidden;
    border-radius: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.principal {
    background-color: rgb(221, 55, 55);
    color: white;
  }
  /* End Navbar */

  .container {
    padding: 16px;
    max-width: 600px;
    margin: auto;
  }

.utilizadores{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.radio-inline{
    margin-right: 30px;
    margin-left: 30px;
}
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 2px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .registerbtn {
    background-color:rgb(221, 55, 55);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .avatar-container{
    text-align: center; 
    margin: 24px 0 12px 0; 
  }
  img.avatar { 
    width: 50%; 
}
.loginbtn, .reset_password{
    background-color: rgb(221, 55, 55);
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    width: 105%;
    opacity: 0.9;
} 
.login-container, .reset-container{
    max-width: 600px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.psw{
    float:right;
}

.procura-principal{
   text-align: center;
   width: 60%;
   margin: auto;
}

.campos-procura{
    margin: auto;
    margin-right: 20px;
    display: inline-block;
    overflow:hidden;
    border-radius:15px;
    box-shadow: 1px 1px 5px grey;
    background:  #ddd;
    width: 220px;
 
}

.campos-procura select{
    border: 0;
    color: rgb(8, 6, 6);
    background: #ddd;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 10px;
    text-align: center;
    text-align-last: center;
 }
 
 .campos-procura .searchbtn{
    background:rgb(221, 55, 55);
    font-size: 15px;
    color: white;
    padding:  4px 50px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    width: 100%;
 }

/****** movie.blade.php *****/
 /* Color of the icons */
 .info i {
    color: red;
 }

 /* Actors Images*/
 .avatar-thumb img {
     width: 60px;
     height: 60px;
 }

 /* Trailer */
 .trailer {
     margin-right: 5%;
 }

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */
.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */
.rating>input:checked~label:hover~label {
    color: #FFED85;
}